language: go

arch:
  - amd64
  - arm64

go:
  #  - 1.8
  #  - 1.9
  #  - 1.10.x
  #  - 1.11.x
  #  - 1.12.x
  #  - 1.13.x
  - 1.14.x

# test 32bit build too
jobs:
  include:
    - arch: amd64
      go: 1.14.x
      script:
        # race detector is only available on amd64
        - GOARCH=386 go test -race -v ./...
        - go vet ./...
        - "[ -z \"`go fmt ./...`\" ]"
    - arch: amd64
      go: 1.8
      script:
        # race detector is only available on amd64
        - GOARCH=386 go test -race -v ./...
        - go vet ./...
        - "[ -z \"`go fmt ./...`\" ]"

script:
  # race detector is only available on amd64
 - if [[ "$TRAVIS_CPU_ARCH" == "amd64" ]]; then go test -race -v ./...; fi
 - if [[ "$TRAVIS_CPU_ARCH" != "amd64" ]]; then go test -v ./...; fi
 - go vet ./...
 - "[ -z \"`go fmt ./...`\" ]"
