name: generate-mock
on:
  pull_request:

jobs:
  native:
    strategy:
      matrix:
        runs-on:
          - ubuntu-latest
          - windows-latest
      fail-fast: false
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Setup go
        uses: actions/setup-go@be3c94b385c4f180051c996d336f57a34c397495 # v3.6.1
        with:
          go-version: 'stable'
      - name: Checkout code
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      - run: go install github.com/golang/mock/mockgen@v1.6.0
      - run: go generate statsd/statsd.go
      - run: git diff --exit-code HEAD
